.scroll-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 2000;
  background-color: #1976d2;
  color: white;
  border-radius: 50%;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top:hover {
  background-color: #1258a8;
}
