html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.main-content {
  flex: 1; /* This ensures footer is pushed down */
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px - 50px);
  padding-bottom: 1rem;
}
